[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Rvgl
GenericName=RVGL For GNU/Linux
GenericName[tr]=Linux için RVGL
Comment=RVGL is a cross-platform rewrite / port of Re-Volt that runs natively on both Windows and GNU/Linux. It's powered entirely by modern, open source components. We currently use
Comment[tr]=RVGL, hem Windows hem de GNU / Linux üzerinde yerel olarak çalışan bir çapraz platform. Tamamen modern, açık kaynaklı bileşenlerle desteklenmektedir.
Icon=rvgl
Exec=/usr/share/rvgl/rvgl
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
